<link rel="stylesheet" href="../css/footer.css" />
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.linkedin.com/in/siddhartha-raghuvanshi/"
        target="_blank"
        ><i class="fa-brands fa-linkedin" style="color: rgb(6, 101, 123)"></i
      ></a>
      <a href="https://www.github.com/honeybunnysidd/" target="_blank">
        <i class="fa-brands fa-github" style="color: rgb(0, 0, 0)"></i
      ></a>
      <a href="https://www.instagram.com/honeybunnysidd/" target="_blank"
        ><i class="fa-brands fa-instagram" style="color: rgb(232, 20, 20)"></i
      ></a>
      <a href="https://www.instagram.com/honeybunnysidd/" target="_blank"
        ><i
          class="fa-brands fa-square-facebook"
          style="color: rgb(16, 108, 221)"
        ></i
      ></a>
    </div>
    <div class="f-info-brand">&copy;2025 GharSetu Private Limited</div>

    <div class="f-info-links">
      <a href="">Privacy</a>&nbsp;&nbsp; <a href="">Terms</a>&nbsp;&nbsp
      <a href="">Sitemap</a>&nbsp;&nbsp
      <a href="">Company details</a>&nbsp;&nbsp
    </div>
  </div>

  <div class="ftr-sidd">
    <p>Made by - Siddhartha Raghuvanshi</p>
  </div>
</footer>
