<% layout('./layouts/boilerplate') -%>

  <body>
    <h3 class="container mt-5">Create New Listing</h3>
    <form action="/listings" method="post" class="container mt-5">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          required
          id="title"
          placeholder="Enter a title"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          required
          id="description"
          placeholder="Write the description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          placeholder="Enter Price"
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          class="form-control"
          required
          id="location"
          placeholder="Enter location"
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Country</label>
        <input
          type="text"
          name="country"
          class="form-control"
          required
          id="country"
          placeholder="Enter country"
        />
      </div>
      <a href="/listings" class="btn btn-danger">Back</a>
      <button type="submit" class="btn btn-success">Create</button>
    </form>
  </body>
