/* ------------------Footer------------------------- */
footer {
    background-color: #ebebeb;
  
  }
   .f-info {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
  }
  .f-info-links,
  .f-info-socials,
  .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .f-info-links a {
    text-decoration: none;
    color: black;
    margin-right: .7rem;
    opacity: 0.7;
  }
  .f-info-links a:hover {
    text-decoration: underline;
  }
  .f-info-socials i {
    margin-right: 1rem;
    font-size: 1.3rem;
    margin-top: 1rem;
  } 
  .ftr-sidd {
    font-family: 'Dancing Script', cursive !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    filter: drop-shadow(2px 2px 4px rgb(11, 8, 46));
    border-top: 1px solid rgba(0, 0, 0, 0.236);
    padding: 10px 0px 0px 0px;
    margin-right: 5%;
    align-items: center;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .ftr-sidd p {
      background: -webkit-linear-gradient(#ff0000, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shake 5s infinite linear;
  }
  .ftr-sidd p:hover {
      background: -webkit-linear-gradient(blue, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
  }
  @keyframes shake {
      0% {
          transform: scale(1);
      }
  
      33% {
          transform: scale(1.2);
      }
  
      50% {
          transform: scale(1);
      }
  
      66% {
          transform: scale(1.2);
      }
  
      100% {
          transform: scale(1);
      }
  }

  @media (max-width:450px) {
    .ftr-sidd p{
      font-size: .9rem;
    }
    
  }