/* ------------------NavBar------------------------- */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-route {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222;
}
.brand-head {
  margin: 0 0.7rem 0;
  font-family: cursive;
  color: #fe424d;
  font-weight: 700;
  font-size: 1.6rem;
}
.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover {
  background-color: #fe424d;
  color: white;
}

.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}
.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}
@media (max-width: 768px) {
  .container-fluid {
    background-color: white;
  }
  
}
