<% layout('./layouts/boilerplate') -%>
<style>
  @media (max-width: 576px) {
    .buttons {
      display: flex;
    }
  }
</style>
<div class="row">
  <div class="col-6 offset-3">
    <h3 class="container mt-4">Signup</h3>
    <form
      action="/signup"
      method="post"
      class="container mt-5 mb-5 needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username *</label>
        <input
          type="text"
          name="username"
          class="form-control"
          required
          id="username"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input
          type="email"
          name="email"
          class="form-control"
          required
          id="email"
        />
        <div class="valid-feedback">valid email!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password *</label>
        <input
          type="password"
          name="password"
          class="form-control"
          required
          id="password"
        />
      </div>
      <div class="buttons">
        <button type="reset" class="btn btn-danger me-3">Reset</button>
        <button class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
</div>
